mixin menu(items, current)
	ul.menu__items
		each item, key in items 
			if current==item
				li.menu__item(class='menu__item_active')
					a.menu__link(class='menu__link_active' href=key+'.html')= item
			else 
				li.menu__item
					a.menu__link(href=key+'.html')= item

mixin catalog(items)
	div.catalog__items(class='clearfix')
		each item, key in items
			div.catalog__item
				a.catalog__item__link(href=key+'.html')
					img.catalog__item__img(src='images/'+ key +'-'+ item +'-trumb.png' alt='Это фото паруса '+item title='Это фото паруса '+item)
					div.catalog__item__description
						div.catalog__item__model= item

mixin specific(items)
	table.goods__specific__table
		each item, key in items
			tr.goods__specific__row
				if key == 'Площадь паруса'
					td.goods__specific__key= key
					td.goods__specific__item!= item +' м<sup>2</sup>'
				else
					td.goods__specific__key= key
					td.goods__specific__item= item